<div class="rams-dashboard-div">
    <div class="flex align-items-center   p-3 text-700">
        Dashboard
    </div>
    <div class="rams-dashboard-body">
        <div class="row">
            <div class="col">
                <p-card heading="1">
                    Card #1
                </p-card>
            </div>
            <div class="col">
                <p-card heading="1">
                    Card #2
                </p-card>
            </div>
            <div class="col">
                <p-card heading="1">
                    Card #3
                </p-card>
            </div>
            <div class="col">
                <p-card heading="1">
                    Card #4
                </p-card>
            </div>

            <div class="col">
                <p-card heading="1">    Card #5
                </p-card>
            </div>


        </div>

    </div>
</div>